{
  "state": "ready",
  "importedAt": "2026-08-19T13:50:04+08:00",
  "source": "https://quant.yunai.com.cn/quant-market/v3/api-docs",
  "openapi": "3.1.0",
  "info": {
    "title": "全球行情接口",
    "description": "提供全球股票、期货等市场的行情数据查询",
    "contact": {
      "name": "yunai",
      "url": "https://www.yunai.com.cn",
      "email": "service@yunai.com.cn"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://quant.yunai.com.cn",
      "description": " Yunai Quant API Endpoint"
    }
  ],
  "endpointCount": 38,
  "methodCounts": {
    "GET": 11,
    "POST": 27,
    "PUT": 0,
    "DELETE": 0,
    "PATCH": 0
  },
  "categoryCounts": {
    "行情": 38,
    "K线": 7,
    "证券基础": 17,
    "资金流": 2,
    "财务": 5,
    "ETF": 1,
    "因子/策略": 1
  },
  "attempts": [
    {
      "auth": false,
      "status": 200,
      "contentType": "application/json"
    }
  ],
  "endpoints": [
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/bars",
      "operationId": "QuoteController_getBars",
      "summary": "获取股票 K 线数据",
      "description": "查询指定股票的最新 K 线数据（OHLC），按 barType 和 limit 返回最近若干根 K 线。分钟 K 线的 high/low 表示单根分钟周期内的最高/最低价，不是日最高/最低价；如需从分钟线计算官方常规时段日高/日低，应按交易所当地交易日分组，仅使用同一复权口径的 Regular 时段有效数据，分别取 high 最大值和 low 最小值。该接口不接收 tradeSession，也不按盘前/盘后/夜盘筛选；如需明确时段口径请使用 /bars-range。注意：limit 最大支持 1000，超过 1000 时只返回最近 1000 根；amount（成交额）为完整数值，不使用科学计数法（如 16588200，而非 1.65882E7）。",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "K线"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/BarsRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "object"
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/bars-range",
      "operationId": "QuoteController_getBarsRange",
      "summary": "获取股票历史 K 线数据",
      "description": "按交易所当地日期查询历史 K 线。分钟 K 线时间戳统一表示区间开始时间；A股 Regular 为 09:30–11:29、13:00–14:59，港股 Regular 为 09:30–11:59、13:00–15:59，午间和收盘边界不会额外生成重复 K 线，港股收市竞价不计入 Regular。分钟周期响应增加 sessionSummaries，按股票和交易所当地交易日汇总本次有效 tradeSession 内的有效 K 线，并沿用本次 rightOption：high=max(分钟 high)，low=min(分钟 low)，barCount 为实际参与汇总的 K 线数。Regular 表示常规时段日高/日低；PreMarket 表示盘前高/低；AfterHours 表示盘后高/低；All 表示全部受支持时段高/低，不能视为官方常规时段日高/日低。单次最多5只美股、港股或A股，historyMaxSymbols 控制账号全市场累计可访问的不同股票总数。港股和沪深A股分钟 K 线支持 nr（不复权）和 br（前复权），系统会自动补查缺失交易日并合并、校验、去重和排序；不同处理路径统一返回相同的 Bar 字段。港股和沪深A股 1min 历史稳定支持2024年7月2日起的数据，更早数据可能不完整。美股分钟线支持 PreMarket、Regular、AfterHours，All 合并三个时段并按时间去重；不支持 OverNight。港股和A股只接受 Regular、All 或不传。混合市场请求盘前或盘后时仅查询美股，港股和A股列入 unsupportedSymbols 且不占历史额度。完整成功时响应体直接包含 tradeSession、sessionSummaries 和各股票数组，不使用 code/data/bars 包装；部分成功和错误使用详细结构。限制：单次最多5只；min1 7天、min5 31天、min15 93天、min30 186天、min60 366天、day 10年、week 20年、month 30年、year 50年；最多返回50000根。",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "K线",
        "证券基础"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/BarsRangeRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "Historical access is not enabled (historyMaxSymbols=0).",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Invalid batch size, range or session; OverNight historical bars are unsupported.",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "Full or partial success. Full success returns a direct tradeSession/symbol map with no Result wrapper; partial responses include code/msg/data details.",
          "content": null
        },
        {
          "status": "429",
          "description": "The distinct historical-symbol limit has been reached. Previously authorized symbols remain accessible.",
          "content": {
            "*/*": {
              "type": "object"
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/capital-distribution",
      "operationId": "QuoteController_getCapitalDistribution",
      "summary": "获取实时资金分布",
      "description": "查询指定股票最新可用的资金流入与流出分布快照。timestamp 是上游行情快照时间，retrievedAt 是服务端获取时间；largeNetInflow 为当前数据源大单分档净流入，不等同于其他平台的主力净流入；totalNetInflow 为全部分档净流入",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "资金流",
        "行情"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/RealTimeQuotesRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "object"
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/corporate-dividend",
      "operationId": "QuoteController_getCorporateDividend",
      "summary": "获取股票分红信息",
      "description": "查询指定股票的分红历史",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/CorporateActionRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/QuoteResponseCorporateDividendItem"
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/corporate-split",
      "operationId": "QuoteController_getCorporateSplit",
      "summary": "获取股票拆分信息",
      "description": "查询指定股票的拆分历史",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/CorporateActionRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/QuoteResponseCorporateSplitItem"
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/financial-daily",
      "operationId": "QuoteController_getFinancialDaily",
      "summary": "(待开放)获取财务日报",
      "description": "查询指定股票的财务日报数据",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "财务"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/FinancialDailyRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/QuoteResponseFinancialDailyItem"
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/financial-report",
      "operationId": "QuoteController_getFinancialReport",
      "summary": "(待开放)获取财务报告",
      "description": "查询指定股票的财务报告",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "财务"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/FinancialReportRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/QuoteResponseFinancialReportItem"
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/fundamentals-summary",
      "operationId": "QuoteController_getFundamentalsSummary",
      "summary": "获取基本面摘要",
      "description": "聚合实时行情、公司资料、财务摘要、分红和52周高低点，返回终端分析所需的基本面快照",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "财务"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/FundamentalsSummaryRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "object"
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/futures-bars",
      "operationId": "QuoteController_getFuturesBars",
      "summary": "获取期货 K 线最新数据",
      "description": "查询指定期货合约的最新 K 线，需要 FUTURES 权限。期货合约使用不带交易所后缀的代码，例如 GC2612。支持 min1、min5、min15、min30、min60、day、week、month 周期；上游单个合约单次最多返回 1000 根。按时间区间查询或需要超过一个上游分页时，请使用期货历史 K 线接口。",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "K线",
        "证券基础"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/FuturesBarsRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "FUTURES permission is required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "object"
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/futures-bars-range",
      "operationId": "QuoteController_getFuturesBarsRange",
      "summary": "获取期货历史 K 线数据",
      "description": "按交易所当地交易日区间查询期货历史 K 线（对齐股票 /bars-range 的请求方式），需要 FUTURES 权限。startDate/endDate 均为闭区间（首尾两天都含），按期货交易所所在时区 America/Chicago（CME/COMEX/NYMEX/CBOT 均在芝加哥）解释。接口内部自动选择最优数据源、自动翻页、按时间戳去重，并按时间升序返回。不支持 year 周期。不同 barType 允许查询的最大天数不同，超出范围直接返回 400：min1 5天、min3 10天、min5 20天、min10 40天、min15 60天、min30 120天、min45 180天、min60 240天、hour2 480天、hour3 720天、hour4 960天、hour6 1440天、day 10年、week 20年、month 30年。这些天数比股票对应周期略短，是因为期货每天连续交易约 23 小时（股票约 6.5 小时），同样天数下期货会产生更多根 K 线。",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "K线"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/FuturesBarsRangeRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "FUTURES permission is required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "object"
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/futures-real-time-quotes",
      "operationId": "QuoteController_getFuturesRealTimeQuotes",
      "summary": "获取期货实时行情",
      "description": "查询指定期货的实时行情数据，需要 FUTURES 权限。期货合约使用不带交易所后缀的代码，例如 GC2612。接口会自动查询并返回可用结果。",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "证券基础"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/FuturesRealTimeQuotesRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "FUTURES permission is required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "object"
            }
          }
        }
      ]
    },
    {
      "method": "GET",
      "path": "/api/v1/quantitative/quotes/futures-symbol-names",
      "operationId": "QuoteController_getFuturesSymbolNames",
      "summary": "获取期货合约代码及名称",
      "description": "获取当前全部有效期货合约的代码与名称（不带交易所后缀，如 GC2612），需要 FUTURES 权限。数据来自后台定时刷新的内存缓存（默认 12 小时刷新一次），接口调用本身不会触发实时上游扫描，因此存在最长约一个刷新周期的数据延迟；服务刚启动、尚未完成首次刷新时可能返回空列表。",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "证券基础"
      ],
      "parameters": [],
      "requestBody": null,
      "responses": [
        {
          "status": "403",
          "description": "FUTURES permission is required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/SymbolName"
              }
            }
          }
        }
      ]
    },
    {
      "method": "GET",
      "path": "/api/v1/quantitative/quotes/futures-symbols",
      "operationId": "QuoteController_getFuturesSymbols",
      "summary": "获取期货合约代码",
      "description": "获取当前全部有效期货合约代码（不带交易所后缀，如 GC2612），需要 FUTURES 权限。数据来自后台定时刷新的内存缓存（默认 12 小时刷新一次），接口调用本身不会触发实时上游扫描，因此存在最长约一个刷新周期的数据延迟；服务刚启动、尚未完成首次刷新时可能返回空列表。",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "证券基础"
      ],
      "parameters": [],
      "requestBody": null,
      "responses": [
        {
          "status": "403",
          "description": "FUTURES permission is required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/futures-trade-ticks",
      "operationId": "QuoteController_getFuturesTradeTicks",
      "summary": "获取期货逐笔成交",
      "description": "查询指定期货合约的逐笔成交数据，需要 FUTURES 权限。期货合约使用不带交易所后缀的代码，例如 GC2612。数据源仅提供价格、数量与成交时间，不含累计成交量、未平仓量、买卖盘等字段（上游数据源限制），调用方不应把这些字段的默认值当作真实业务数据。",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "证券基础"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/FuturesTradeTicksRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "FUTURES permission is required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "object"
            }
          }
        }
      ]
    },
    {
      "method": "GET",
      "path": "/api/v1/quantitative/quotes/futures-websocket-capabilities",
      "operationId": "QuoteController_getFuturesWebSocketCapabilities",
      "summary": "WebSocket 期货实时行情 / WebSocket Futures Live Quotes",
      "description": "返回版本化期货 WebSocket 能力、调试 Schema 和示例。该接口无需登录；实际 WebSocket 订阅需要有效 Token 及 FUTURES 权限。\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情"
      ],
      "parameters": [
        {
          "name": "lang",
          "in": "query",
          "required": false,
          "description": "语言枚举值：zh_CN，zh_TW，en_US，默认：en_US",
          "schema": {
            "type": "string",
            "default": "zh_CN"
          }
        }
      ],
      "requestBody": null,
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "object"
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/global-index-klines",
      "operationId": "QuoteController_getGlobalIndexKlines",
      "summary": "获取全球指数 K 线",
      "description": "查询一个或多个全球指数的 K 线。需要 INDEX 权限；按 symbols 中的指数代码数量扣减 API 额度；period 支持 DAY、WEEK、MONTH、YEAR；limit 默认 200、最大 2000；代码不区分大小写；未知代码或暂无数据的代码会被忽略。响应按指数代码直接返回 K 线列表。 各周期每个指数最多提供：DAY 2000 条、WEEK 1000 条、MONTH 600 条、YEAR 200 条；请求 limit 不会突破相应周期上限，实际条数取决于可用历史行情。",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "K线",
        "证券基础"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/GlobalIndexKlineRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "INDEX permission is required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "object"
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/global-index-real-time-quotes",
      "operationId": "QuoteController_getGlobalIndexRealTimeQuotes",
      "summary": "获取全球指数实时行情",
      "description": "查询全球指数实时行情。需要 INDEX 权限；按 symbols 中的指数代码数量扣减 API 额度；代码不区分大小写；未知或暂无行情数据的代码会被忽略；最新行情暂时不可用时返回最后成功行情并标记 stale=true。每条行情返回 region：ASIA=亚洲（25）、AMERICA=美洲（10）、EUROPE_AFRICA=欧洲及非洲（34）、OTHER=其他（8）。marketStatus 由服务根据交易所日历计算，取值为 PRE_OPEN、OPEN、CLOSED、HOLIDAY、UNKNOWN。当前支持港股、A 股、美股共 665 个指数，按市场分组如下。A 股（575）：399805 互联金融、399383 1000工业、399662 深证高贝、399390 1000公用、000072 工业等权、000052 50基本、399675 深互联网、000682 科创信息、399660 中创EW、399359 国证基建、000043 超大盘、399015 中小创新、000005 商业指数、000041 上证公用、000986 全指能源、000073 可选等权、000030 180R成长、000079 公用等权、399412 国证新能、000863 CS精准医、399361 在线消费、000113 380公用、399392 国证新兴、399653 深证龙头、399641 深证新兴、399697 中关村60、399649 中小红利、000031 180R价值、000070 能源等权、399391 投资时钟、399378 ESG 300、399050 创新引擎、000152 上央红利、399650 中小治理、000016 上证50、399695 深证节能、000153 上民红利、399612 中创100、399640 创业基础、399107 深证Ａ指、399275 创医药、399998 中证煤炭、000160 沪新丝路、000035 上证可选、399665 中创低波、000867 港中小企、399809 保险主题、399626 中创成长、980023 南山50、399278 长江100、GPCSSA50.LOC-FTX FTSE China A50 Shariah、399690 中小专利、399441 生物医药、000062 上证沪企、000690 科创成长、399631 1000价值、399666 中创高贝、000032 上证能源、399635 创业板EW、399642 中小新兴、399625 中创500、399393 国证地产、399993 CSWD生科、399427 专利领先、399624 中创400、399556 央视生态、399350 皖江30、399808 中证新能、399810 CSSW传媒、399654 深证文化、399628 700成长、000050 50等权、399366 能源金属、399106 深证综指、399627 中创价值、399277 公共健康、399294 中小创Q、399284 AI 50、000063 上证周期、399692 创业低波、000064 非周期、000096 上证下游、399976 CS新能车、399652 中创高新、399672 深红利50、000006 地产指数、399673 创业板50、000078 电信等权、399262 数字经济、000131 上证高新、000159 沪股通、399613 深证能源、399355 长三角、399402 周期100、000066 上证商品、000004 工业指数、399606 创业板R、399357 环渤海、399987 中证酒、000110 380金融、000141 380动态、399410 苏州率先、000685 科创芯片、WITWNFC.USD-FTX FTSE Taiwan 30/18 Capped、000068 上证资源、WITWNFCN.USD-FTX FTSE Taiwan 30/18 Capped Net Tax、399615 深证工业、988106 CNTTRHKD、988107 CNTTRUSD、399232 采矿指数、000057 全指成长、000047 上证全指、000028 180成长、399418 数据要素、399102 创业板综、399030 碳科技30、399382 1000材料、000928 中证能源、399286 区块链50、399928 中证能源、000017 新综指、399249 综企指数、399417 新能源车、980068 蓝色100、399405 大盘高贝、399060 碳科技60、399435 国证农牧、000155 市值百强、399319 资源优势、000015 红利指数、399266 创新能源、000162 沪互联+、399990 煤炭等权、399644 深证时钟、399991 一带一路、000059 全R成长、399384 1000可选、399422 中关村A、399381 1000能源、000033 上证材料、XIN4201010.LOC-FTX 富时中国A600医疗保健提供商、399614 深证材料、399995 基建工程、399233 制造指数、000065 上证龙头、399699 金融科技、399407 中盘高贝、988007 CNTUSD、000008 综合指数、399006 创业板指、399676 深医药EW、988006 CNTHKD、399611 中创100R、000847 腾讯济安、399423 中关村50、399411 红利100、000022 沪公司债、000003 Ｂ股指数、000101 5年信用、000012 国债指数、399299 深信中低、399244 公共指数、399678 深次新股、000139 上证转债、399307 深证转债、000061 沪企债30、399413 国证转债、FCASC.LOC-FTX 富时中国A股通人民币、FXTM.LOC-FTX 富时中国50mini、FCASCN.LOC-FTX 富时中国A股通人民币净税、399301 深信用债、399302 深公司债、399298 深信中高、399290 深转交债、000116 信用100、399248 文化指数、000021 180治理、399680 深成能源、000134 上证银行、399264 创业软件、399242 商务指数、399807 高铁产业、399814 大农业、000158 上证环保、399689 深成公用、399235 建筑指数、399265 创新药械、000027 180运输、399975 证券公司、000683 科创生物、399237 运输指数、399234 水电指数、399241 地产指数、399481 企债指数、399289 碳中和债、000020 中型综指、399683 深成可选、399691 创业专利、399429 新丝路、399674 深A医药、988201 湾创100R、399306 深证ETF、399280 生物50、000042 上证央企、399622 深证公用、399804 中证体育、000151 上国红利、399994 信息安全、000855 央视500、399239 IT指数、399651 中小责任、000688 科创50、000025 180基建、399008 中小300、000827 中证环保、399434 数字传媒、399353 国证物流、399367 1000地产、000034 上证工业、000049 上证民企、399965 800地产、399639 深证大宗、399320 国证服务、399438 绿色电力、399604 中小价值、399439 国证油气、399630 1000成长、399397 国证文化、399419 国证高铁、399682 深成工业、399380 国证ETF、399974 国企改革、399686 深成金融、000891 新兴综指、399992 CSWD并购、399663 中小低波、399433 国证交运、000048 责任指数、000865 上海国企、000122 农业主题、000056 上证国企、399602 中小成长、399236 批零指数、399637 深证地产、000104 380能源、399243 科研指数、000114 持续产业、399440 国证钢铁、399108 深证Ｂ指、399971 中证传媒、399231 农林指数、399681 深成材料、000860 结构调整、000019 治理指数、399806 环境治理、000687 科创高装、399959 军工指数、000054 上证海外、399973 中证国防、399685 深成医药、399369 国证责任、000853 CSSW丝路、000161 沪中国造、399341 深证责任、399557 央视文化、000055 上证地企、980001 湾创100、399664 中小高贝、000689 科创材料、399420 国证保证、000090 上证流通、399240 金融指数、399983 地产等权、399238 餐饮指数、399292 民企发展、399684 深成消费、399693 安防产业、XIN4551020.LOC-FTX 富时中国A600工业金属和矿业、980030 消费电子、399362 民企100、399004 深证100R、000128 380基本、399623 中小基础、399103 乐富指数、399269 创质量、399395 国证有色、399276 创科技、399324 深证红利、000814 细分医药、000145 优势资源、399394 国证医药、000115 380等权、399005 中小100、000819 有色金属、000991 全指医药、399645 100低波、000036 上证消费、399356 珠三角、399389 国证通信、000109 380医药、399636 深证装备、000142 380稳定、000823 800有色、000849 300非银、000120 380R价值、399339 深证科技、000099 上证F300、399688 深成电信、399982 500等权、399403 防御100、000982 500等权、399379 国证基金、399303 国证2000、000051 180等权、000148 消费领先、000067 上证新兴、399285 物联网50、399703 深证F200、399905 中证 500、000121 医药主题、399617 深证消费、000802 500沪市、399344 深证300R、399388 1000信息、000138 380低贝、399399 中经GDP、399296 创成长、399360 新硬件、399321 国证红利、399553 央视回报、000011 基金指数、399274 深新基建、399377 小盘价值、399811 CSSW电子、399986 中证银行、399702 深证F120、399431 国证银行、000112 380电信、399010 深证700、399913 300 医药、000077 信息等权、000913 300医药、399373 大盘价值、399310 国证A50、399550 央视50、399935 中证信息、000933 中证医药、000935 中证信息、399554 央视治理、399701 深证F60、399385 1000消费、399552 央视成长、399354 分析师指数、399933 中证医药、399003 成份Ｂ指、399002 深成指R、000851 百发100、XIN150.LOC-FTX 富时中国A150、980017 国证芯片、XIN4551030.LOC-FTX 富时中国A600贵金属和矿业、000129 180波动、399396 国证食品、399408 小盘低波、399101 中小综指、000091 沪财中小、XIN0N.LOC-FTX 富时中国50净税、XIN0.LOC-FTX 富时中国50、399621 深证电信、XINBV.LOC-FTX FTSE China Blue Chip Value 100、XINA50N.LOC-FTX 富时中国A50净值、399300 沪深300、399001 深证成指、000001 上证指数、000905 中证500、XIN9.LOC-FTX 富时中国A50、399698 优势成长、XINA50AN.LOC-FTX 富时中国A50净税澳元、399328 深证治理、399365 国证粮食、399333 中小100R、000993 全指信息、XIN4.LOC-FTX 富时中国A600、399610 TMT50、399100 新指数、980028 龙头家电、399967 中证军工、000108 380消费、399655 深证绩效、XIN5.LOC-FTX 富时中国A400、399351 创新示范、000010 上证180、000118 380价值、000857 500医药、399352 深企综指、399322 国证治理、399671 深防御50、399398 绩效指数、399648 深证GDP、000932 中证消费、000858 500信息、399932 中证消费、000136 180低贝、980032 新能电池、399406 中盘低波、000130 380波动、000097 高端装备、000093 180分层、000125 180稳定、000053 180基本、XIN3.LOC-FTX 富时中国A200、000150 380红利、399551 央视创新、000111 380信息、XIN6.LOC-FTX 富时中国小型股、399363 国证算力、399364 消费100、399970 移动互联、399374 中盘成长、399295 创价值、399311 国证1000、399555 央视责任、399017 SME创新、000046 上证中小、399706 深证下游、399696 深证创投、399314 巨潮大盘、000071 材料等权、399428 国证定增、000092 资源50、399668 创业板V、399705 深证中游、399658 中小绩效、FQCANU.USD-FTX 富时中国A净税美元、399401 中小盘、399315 巨潮中盘、000906 中证800、000026 180资源、399318 国证Ｂ指、399313 巨潮100、399812 养老产业、399372 大盘成长、000038 上证金融、399013 深市精选、399281 电子50、000076 金融等权、000098 上证F200、000869 HK银行、399358 国证环保、399632 深100EW、399088 深创100、000105 380材料、399009 深证200、399387 1000金融、399370 国证成长、399996 智能家居、000060 全R价值、399335 深证央企、000095 上证中游、000040 上证电信、399436 绿色煤炭、399694 创业高贝、399416 I300、399670 深周期50、000069 消费80、000117 380成长、XIN4201020.LOC-FTX 富时中国A600医疗设备、000149 180红利、FQCAN.LOC-FTX 富时中国A净税、399263 创业数字、000002 Ａ股指数、399283 机器人50、399643 创业新兴、000029 180价值、399400 大中盘、399687 深成信息、399012 创业300、000300 沪深300、399677 深互联EW、000903 中证A100、399903 中证100、000987 全指材料、399346 深证成长、399291 创精选88、399659 深成指EW、000989 全指可选、000094 上证上游、000107 380可选、000007 公用指数、399634 中小等权、399282 大数据50、000119 380R成长、000044 上证中盘、000058 全指价值、399608 科技100、000135 180高贝、000075 医药等权、399704 深证上游、399409 小盘高贝、000133 上证150、399997 中证白酒、399619 深证金融、000009 上证380、399317 国证Ａ指、000074 消费等权、399989 中证医疗、399679 深证200R、000037 上证医药、399620 深证信息、399011 深证1000、000126 消费50、399348 深证价值、000974 800金融、000146 优势制造、000852 中证1000、399647 深医药50、000039 上证信息、399802 500深市、399669 深证农业、399618 深证医药、000103 沪消费品、399326 成长40、399657 300绩效、000102 沪投资品、399368 国证军工、399404 大盘低波、399646 深消费50、399638 深证环保、399293 创业大盘、399415 I100、399371 国证价值、000123 180动态、399337 深证民营、000856 500工业、399376 小盘成长、399616 深证可选、399279 云科技50、000854 500原料、399934 中证金融、000934 中证金融、980016 医疗健康、399707 CSSW证券、000132 上证100、399966 800非银、399007 深证300、000018 180金融、399312 国证300、399432 智能汽车、399386 1000医药、000992 全指金融、000045 上证小盘、980015 疫苗生科、399661 深证低波、000106 380工业、399297 新浪100、399972 300深市、000914 300金融、399633 深300EW、399914 300 金融、399330 深证100、399437 证券龙头、399016 深证创新、399813 中证国安、399667 创业成长、399656 100绩效、000137 380高贝、399901 小康指数、000901 小康指数、399316 巨潮小盘、000100 上证F500、XIN4303020.LOC-FTX 富时中国A600非寿险、399018 创业创新、399375 中盘价值、000170 50AH优选、399803 工业4.0、000147 优势消费。港股（52）：H11120 香港中盘精选、H11123 香港内地、HZ5308 恒生内地石油、H11100 香港100、CESG10 中华博彩指数、HZ2051 恒生国指ESG指数、H11110 香港F50、H11140 香港红利、HZ2050 恒指ESG指数、CESP50 中华港股通优选50、H11143 HKT内地地产、H11144 HKT内地消费、WIHKG.LOC-FTX 富时香港、H11153 内地国有、VHSI 恒指波幅指数、GEM 标普香港创业板、H11152 内地民营、HZ5306 恒生内地地产、000942 内地消费、HZ5014 恒生国企指数、CESA80 中华A80、CESHKB 中华香港生物科技、CES280 中华280、990001 中华半导体芯片、HZ2684 恒生工商业净股息、HZ1720 恒生中企总股息、HZ5103 恒生地产、HZ2720 恒生中企净股息、HKL 恒生综合大型股、HKG100.LOC-FTX 富时香港100、QDII1.LOC-FTX 富时香港、HZ2681 恒生金融净股息、HZ1681 恒生金融总股息、HSI 恒生指数、HZ5101 恒生金融、HZ1683 恒生地产总股息、HZ1684 恒生工商业总股息、HZ5102 恒生公用事业、HZ2682 公用事业净股息、HZ1682 公用事业总股息、HZ1680 恒指总股息累计、HZ2683 恒生地产净股息、HZ2680 恒指净股息累计、HZ5104 恒生工商业、HKG100N.LOC-FTX 富时香港100净税指数、HZ2083 恒生科技指数、CES100 中华100、CES300 中华300、HZ5015 恒生中资指数、HZ5305 恒生内地银行、CES120 中华120、CESHKM 中华香港内地指数。美股（38）：FTUSELUT.USD-FTX FTSE US Risk Premium Index Series: ROE Long Only Total Return Index、FTUSFLUT.USD-FTX FTSE US Risk Premium Index Series: Cash Flow Yield Long Only Total Return Index、FTUSESUT.USD-FTX FTSE US Risk Premium Index Series: ROE Short Only Total Return Index、FTUSVLUT.USD-FTX FTSE US Risk Premium Index Series: Low Volatility Long Only Total Return Index、FTUSDLUT.USD-FTX FTSE US Risk Premium Index Series: Dividend Yield Long Only Total Return Index、SLQUSS1.USD-FTX FTSE USA Large Cap Super Liquid Daily Short、FUSYQVCN.USD-FTX FTSE USA Qual/Vol/Yield Factor 5% Capped Net Tax、FTUSMLUT.USD-FTX FTSE US Risk Premium Index Series: Price Momentum Long Only Total Return Index、FTUSDSUT.USD-FTX FTSE US Risk Premium Index Series: Dividend Yield Short Only Total Return Index、FTUSZLUT.USD-FTX FTSE US Risk Premium Index Series: Size Long Only Total Return Index、WIUSAMVN.USD-FTX FTSE USA Minimum Variance Net、SLQUSS3.USD-FTX FTSE USA Large Cap Super Liquid 3x Daily Short、FTUSFSUT.USD-FTX FTSE US Risk Premium Index Series: Cash Flow Yield Short Only Total Return Index、FTUSMSUT.USD-FTX FTSE US Risk Premium Index Series: Price Momentum Short Only Total Return Index、FTUSVSUT.USD-FTX FTSE US Risk Premium Index Series: Low Volatility Short Only Total Return Index、FTUSALUT.USD-FTX FTSE US Risk Premium Index Series: NOA Trend Short Only Total Return Index、FTUSNLUT.USD-FTX FTSE US Risk Premium Index Series: Seasonality Long Only Total Return Index、FTUSZSUT.USD-FTX FTSE US Risk Premium Index Series: Size Short Only Total Return Index、FTUSASUT.USD-FTX FTSE US Risk Premium Index Series: NOA Trend Long Only Total Return Index、FTUSNSUT.USD-FTX FTSE US Risk Premium Index Series: Seasonality Short Only Total Return Index、FUSYQVCF.USD-FTX FTSE USA Yield/Qual/Vol Factor 5% Capped、WIUSA.USD-FTX 富时美国、SPX 标普500、SLQUSL4.USD-FTX FTSE USA Large Cap Super Liquid 4x Daily Leveraged、SLQUSL2.USD-FTX FTSE USA Large Cap Super Liquid 2x Daily Leveraged、SLQUSL3.USD-FTX FTSE USA Large Cap Super Liquid 3x Daily Leveraged、DJI 道琼斯、IXIC 纳斯达克、FUCICN.USD-FTX FTSE USA Core Infrastructure Capped Net Tax、SLQUSS2.USD-FTX FTSE USA Large Cap Super Liquid 2x Daily Short、N500LC 纳斯达克500大型股、FGCUSACN.USD-FTX FTSE USA All Cap Choice Net Tax、NQUSS 纳斯达克小型股、FTUSLNU.USD-FTX FTSE USA Super Liquid Net-of-Tax、NDX 纳斯达克100、FTUSLU.USD-FTX FTSE USA Super Liquid、FTUSSU.USD-FTX FTSE USA Small Cap Super Liquid、FTUSSNU.USD-FTX FTSE USA Small Cap Super Liquid Net Tax。",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "ETF",
        "资金流",
        "行情",
        "证券基础",
        "财务",
        "因子/策略"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/GlobalIndexRealTimeQuotesRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "INDEX permission is required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "object"
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/global-index-time-share",
      "operationId": "QuoteController_getGlobalIndexTimeShare",
      "summary": "获取全球指数当日分时行情",
      "description": "查询一个或多个全球指数的当日分时数据。需要 INDEX 权限；按 symbols 中的指数代码数量扣减 API 额度；代码不区分大小写；未知代码或暂无数据的代码会被忽略。响应按指数代码直接返回，包含指数名称、地区、市场状态、交易日期、交易所时区及分时点列表。 每个指数仅返回最新交易日数据，最多 1500 个分时点；实际条数取决于该市场当日可用行情。",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "证券基础"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/GlobalIndexTimeShareRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "INDEX permission is required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "object"
            }
          }
        }
      ]
    },
    {
      "method": "GET",
      "path": "/api/v1/quantitative/quotes/market-status",
      "operationId": "QuoteController_getMarketState",
      "summary": "获取市场状态",
      "description": "查询指定市场的当前状态，如是否开市、交易时间等",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情"
      ],
      "parameters": [
        {
          "name": "market",
          "in": "query",
          "required": true,
          "description": "市场类型，例如 US（美股），HK（港股）",
          "schema": {
            "type": "string",
            "enum": [
              "ALL",
              "US",
              "HK",
              "SG",
              "AU",
              "CN",
              "NZ",
              "UK"
            ]
          }
        },
        {
          "name": "lang",
          "in": "query",
          "required": true,
          "description": "语言枚举值：zh_CN，zh_TW，en_US，默认：en_US",
          "schema": {
            "type": "string",
            "enum": [
              "zh_CN",
              "zh_TW",
              "en_US"
            ]
          }
        }
      ],
      "requestBody": null,
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/MarketStatus"
              }
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/news",
      "operationId": "QuoteController_getSecurityNews",
      "summary": "获取股票相关新闻",
      "description": "按股票代码查询相关新闻列表。接口按股票维度返回新闻，响应中包含本次返回条数 count。publishedAt 是 OffsetDateTime，返回的是带时区偏移的 ISO-8601 时间；Z 表示 UTC，也就是零时区。新闻返回内容较大，最多支持同时查询 3 个股票。",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "证券基础"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/SecurityNewsRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "object"
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/order-books",
      "operationId": "QuoteController_getOrderBooks",
      "summary": "获取股票实时盘口",
      "description": "查询美股、港股和沪深A股的买卖盘口快照。单次支持1至5只股票；优先返回通过新鲜度校验的 WebSocket 盘口，仅对缺失代码使用 REST 补齐。返回 asks、bids、askPrice、askSize、bidPrice、bidSize 和 capturedAt。接口与实时行情使用相同的 API 额度规则，按 symbols 数量扣减额度。",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "证券基础"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/OrderBookRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "object"
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/real-time-brokers",
      "operationId": "QuoteController_getRealtimeBrokers",
      "summary": "获取实时席位队列快照",
      "description": "查询指定股票当前席位买卖队列快照，适合页面首屏展示。",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/RealTimeQuotesRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "object"
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/real-time-candlesticks",
      "operationId": "QuoteController_getRealtimeCandlesticks",
      "summary": "获取实时K线快照",
      "description": "查询指定股票当前周期的最新K线快照，适合页面首屏兜底展示，避免仅依赖 WebSocket 推送",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "K线"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/RealtimeCandlestickSnapshotRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "object"
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/real-time-quotes",
      "operationId": "QuoteController_getRealTimeQuotes",
      "summary": "获取股票最新或实时行情",
      "description": "查询全球指定股票的实时最新行情，暂不支持北交所。外层 preClose 表示常规交易时段上一交易日收盘价，change = latestPrice - preClose，changeRate = change / preClose；外层 open/high/low 保持常规交易时段口径。美股盘前、盘后、夜盘行情请读取 hourTrading；美股常规交易时段以及港股、A股不返回 hourTrading。本接口不再返回已废弃的多档 asks、bids；如需新鲜多档盘口，请调用 POST /order-books。轻量的最优报价字段 askPrice、askSize、bidPrice、bidSize 继续保留。",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "证券基础"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/RealTimeQuotesRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "object"
            }
          }
        }
      ]
    },
    {
      "method": "GET",
      "path": "/api/v1/quantitative/quotes/symbol-catalog/search",
      "operationId": "QuoteController_searchSymbolCatalog",
      "summary": "根据股票代码或多语言名称搜索股票主数据",
      "description": "按代码、英文名、中文名、繁体名搜索股票。支持所有已同步市场代码，适合前端搜索框联想与精确检索。",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "证券基础"
      ],
      "parameters": [
        {
          "name": "keyword",
          "in": "query",
          "required": true,
          "description": "股票代码或名称关键字，支持英文、简体、繁体",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "market",
          "in": "query",
          "required": false,
          "description": "可选市场代码，仅支持 US（美股）、HK（港股）、CN（A股）；不传则跨市场搜索",
          "schema": {
            "type": "string",
            "enum": [
              "US",
              "HK",
              "CN"
            ],
            "example": "US"
          }
        },
        {
          "name": "lang",
          "in": "query",
          "required": false,
          "description": "显示名称优先语言：zh_CN、zh_TW、en_US，默认 en_US",
          "schema": {
            "type": "string",
            "enum": [
              "zh_CN",
              "zh_TW",
              "en_US"
            ],
            "default": "en_US"
          }
        },
        {
          "name": "limit",
          "in": "query",
          "required": false,
          "description": "返回条数上限，默认 20，最大 50",
          "schema": {
            "type": "integer",
            "format": "int32",
            "default": 20
          }
        }
      ],
      "requestBody": null,
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/QuoteSymbolCatalogVO"
              }
            }
          }
        }
      ]
    },
    {
      "method": "GET",
      "path": "/api/v1/quantitative/quotes/symbol-names",
      "operationId": "QuoteController_getSymbolNames",
      "summary": "获取股票名称",
      "description": "查询指定市场所有股票的名称",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "证券基础"
      ],
      "parameters": [
        {
          "name": "market",
          "in": "query",
          "required": true,
          "description": "市场类型，例如 US（美股），HK（港股）",
          "schema": {
            "type": "string",
            "enum": [
              "ALL",
              "US",
              "HK",
              "SG",
              "AU",
              "CN",
              "NZ",
              "UK"
            ]
          }
        },
        {
          "name": "lang",
          "in": "query",
          "required": true,
          "description": "语言枚举值：zh_CN，zh_TW，en_US，默认：en_US",
          "schema": {
            "type": "string",
            "enum": [
              "zh_CN",
              "zh_TW",
              "en_US"
            ]
          }
        }
      ],
      "requestBody": null,
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/SymbolName"
              }
            }
          }
        }
      ]
    },
    {
      "method": "GET",
      "path": "/api/v1/quantitative/quotes/symbols",
      "operationId": "QuoteController_getSymbols",
      "summary": "获取市场股票代码",
      "description": "获取指定市场的所有股票代码",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "证券基础"
      ],
      "parameters": [
        {
          "name": "market",
          "in": "query",
          "required": true,
          "description": "市场类型，例如 US（美股），HK（港股）",
          "schema": {
            "type": "string",
            "enum": [
              "ALL",
              "US",
              "HK",
              "SG",
              "AU",
              "CN",
              "NZ",
              "UK"
            ]
          }
        }
      ],
      "requestBody": null,
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      ]
    },
    {
      "method": "GET",
      "path": "/api/v1/quantitative/quotes/terminal-financial-summary",
      "operationId": "QuoteController_getTerminalFinancialSummary",
      "summary": "获取终端页财务摘要",
      "description": "查询终端页财务摘要卡所需的最新财报核心指标，包括营收、净利润及同比",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "财务"
      ],
      "parameters": [
        {
          "name": "symbol",
          "in": "query",
          "required": true,
          "description": "股票代码，例如 MU、00700、000001",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "market",
          "in": "query",
          "required": true,
          "description": "市场类型，例如 US（美股），HK（港股）",
          "schema": {
            "type": "string",
            "enum": [
              "ALL",
              "US",
              "HK",
              "SG",
              "AU",
              "CN",
              "NZ",
              "UK"
            ]
          }
        }
      ],
      "requestBody": null,
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/TerminalFinancialSummaryResponse"
            }
          }
        }
      ]
    },
    {
      "method": "GET",
      "path": "/api/v1/quantitative/quotes/terminal-profile",
      "operationId": "QuoteController_getTerminalCompanyProfile",
      "summary": "获取终端页公司概览",
      "description": "查询终端页头部资料卡所需的公司基础信息，包括交易所、币种、每手股数和股本信息",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情"
      ],
      "parameters": [
        {
          "name": "symbol",
          "in": "query",
          "required": true,
          "description": "股票代码，例如 MU、00700、000001",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "market",
          "in": "query",
          "required": true,
          "description": "市场类型，例如 US（美股），HK（港股）",
          "schema": {
            "type": "string",
            "enum": [
              "ALL",
              "US",
              "HK",
              "SG",
              "AU",
              "CN",
              "NZ",
              "UK"
            ]
          }
        },
        {
          "name": "lang",
          "in": "query",
          "required": false,
          "description": "语言枚举值：zh_CN，zh_TW，en_US，默认：en_US",
          "schema": {
            "type": "string",
            "enum": [
              "zh_CN",
              "zh_TW",
              "en_US"
            ],
            "default": "en_US"
          }
        }
      ],
      "requestBody": null,
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/TerminalCompanyProfileResponse"
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/time-share-quotes",
      "operationId": "QuoteController_getTimeShareQuotes",
      "summary": "获取当前/最近交易日分时",
      "description": "查询指定股票当前或最近交易日的 1min 分时数据。该接口返回 TimelineQuote，由 min1 K 线重建。tradeSession 可选，默认 All。港股/A股支持 All 和 Regular，两者都返回最近交易日盘中 1min 数据：盘中返回今天开盘到当前，非盘中返回最近一个完整交易日。美股支持 All、PreMarket、Regular、AfterHours、OverNight。美股 All：夜盘时返回夜盘到当前；盘前时返回完整夜盘加盘前到当前；盘中时返回完整夜盘、完整盘前和盘中到当前；盘后时返回完整夜盘、完整盘前、完整盘中和盘后到当前；非交易中返回最近一个完整交易日窗口，包含夜盘、盘前、盘中、盘后。指定 tradeSession 时仅返回对应时段的 1min 窗口。分时图由 min1 K 线重建，同样受历史 K 线按股票数量计费的额度限制；仅当历史额度用完时返回统一错误提醒，正常无数据的空 {} 不提醒、仍返回 {}。错误 msg 为：\"The historical data quota is billed by the number of symbols and is currently used up. We are working hard to find more cost-effective solutions and will roll out free quota soon. Please stay tuned.\"",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "K线",
        "证券基础"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/TimeShareQuoteLatestRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "object"
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/trade-ticks",
      "operationId": "QuoteController_getTradeTicks",
      "summary": "获取最近逐笔成交",
      "description": "查询指定股票最近逐笔成交快照，每个股票最多返回最近 1000 笔。",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/TradeTicksRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "object"
            }
          }
        }
      ]
    },
    {
      "method": "GET",
      "path": "/api/v1/quantitative/quotes/trading-calendar",
      "operationId": "QuoteController_getTradingCalendar",
      "summary": "获取交易日历",
      "description": "查询指定市场在一段时间内的交易日",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情",
        "证券基础"
      ],
      "parameters": [
        {
          "name": "market",
          "in": "query",
          "required": true,
          "description": "市场类型，例如 US（美股），HK（港股）",
          "schema": {
            "type": "string",
            "enum": [
              "US",
              "HK",
              "CN",
              "SG",
              "UK"
            ],
            "example": "US"
          }
        },
        {
          "name": "beginDate",
          "in": "query",
          "required": true,
          "description": "开始日期（格式：yyyy-MM-dd）",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "endDate",
          "in": "query",
          "required": true,
          "description": "结束日期（格式：yyyy-MM-dd）",
          "schema": {
            "type": "string"
          }
        }
      ],
      "requestBody": null,
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/TradeCalendar2"
              }
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/us-option-brief",
      "operationId": "QuoteController_getUsOptionBrief",
      "summary": "获取美股期权实时简况",
      "description": "查询单个美股期权合约的行情快照，需要 OPTION 权限，结果跨用户共享缓存 1 秒",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/UsOptionBriefRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "OPTION permission is required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/UsOptionQuoteResponse"
              }
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/us-option-chain",
      "operationId": "QuoteController_getUsOptionChain",
      "summary": "获取美股期权链实时行情",
      "description": "查询指定到期日的美股期权链，需要 OPTION 权限；完整期权链跨用户共享缓存 30 秒，隐含波动率和未平仓量在本地过滤",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/UsOptionChainRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "OPTION permission is required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/UsOptionChainRowResponse"
              }
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/us-option-depth",
      "operationId": "QuoteController_getUsOptionDepth",
      "summary": "获取美股期权深度行情",
      "description": "查询单个美股期权合约的聚合买卖盘口，需要 OPTION 权限，结果跨用户共享缓存 1 秒",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/UsOptionDepthRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "OPTION permission is required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/UsOptionDepthResponse"
              }
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/us-option-expirations",
      "operationId": "QuoteController_getUsOptionExpirations",
      "summary": "获取美股期权到期日",
      "description": "查询可用的美股期权到期日，需要 OPTION 权限，结果跨用户共享缓存 6 小时",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/UsOptionExpirationRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "OPTION permission is required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/UsOptionExpirationResponse"
            }
          }
        }
      ]
    },
    {
      "method": "POST",
      "path": "/api/v1/quantitative/quotes/us-option-trade-ticks",
      "operationId": "QuoteController_getUsOptionTradeTicks",
      "summary": "获取美股期权逐笔成交",
      "description": "查询单个美股期权合约的逐笔成交，需要 OPTION 权限，结果跨用户共享缓存 1 秒",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情"
      ],
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "$ref": "#/components/schemas/UsOptionTradeTicksRequest"
          }
        }
      },
      "responses": [
        {
          "status": "403",
          "description": "OPTION permission is required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/UsOptionTradeTickResponse"
              }
            }
          }
        }
      ]
    },
    {
      "method": "GET",
      "path": "/api/v1/quantitative/quotes/websocket-capabilities",
      "operationId": "QuoteController_getWebSocketCapabilities",
      "summary": "WebSocket 实时行情 / WebSocket Live Quotes",
      "description": "返回版本化 WebSocket 能力、调试 Schema 和示例。该接口无需登录；实际 WebSocket 行情订阅需要有效 Token。\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
      "tags": [
        "1. 全球行情接口"
      ],
      "categories": [
        "行情"
      ],
      "parameters": [
        {
          "name": "lang",
          "in": "query",
          "required": false,
          "description": "语言枚举值：zh_CN，zh_TW，en_US，默认：en_US",
          "schema": {
            "type": "string",
            "default": "zh_CN"
          }
        }
      ],
      "requestBody": null,
      "responses": [
        {
          "status": "403",
          "description": "Forbidden",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "402",
          "description": "Payment Required",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultVoid"
            }
          }
        },
        {
          "status": "400",
          "description": "Bad Request",
          "content": {
            "*/*": {
              "$ref": "#/components/schemas/ResultObject"
            }
          }
        },
        {
          "status": "200",
          "description": "OK\n\n响应示例提示：Demo 仅供参考，实际字段与数据请以您账号权限下的接口调试结果为准。",
          "content": {
            "*/*": {
              "type": "object"
            }
          }
        }
      ]
    }
  ],
  "schemas": {
    "ResultVoid": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "data": {
          "description": "行情数据，按股票代码分组"
        },
        "msg": {
          "type": "string"
        }
      }
    },
    "ResultObject": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "data": {
          "description": "行情数据，按股票代码分组"
        },
        "msg": {
          "type": "string"
        }
      }
    },
    "UsOptionTradeTicksRequest": {
      "type": "object",
      "description": "美股期权逐笔成交请求",
      "required": [
        "expiry",
        "right",
        "strike",
        "symbol"
      ],
      "properties": {
        "symbol": {
          "type": "string",
          "description": "标的美股代码",
          "example": "AAPL"
        },
        "right": {
          "type": "string",
          "description": "期权方向：CALL 或 PUT",
          "example": "call"
        },
        "strike": {
          "type": "string",
          "description": "十进制行权价",
          "example": "200"
        },
        "expiry": {
          "type": "string",
          "description": "到期日，格式为 yyyy-MM-dd 或 yyyyMMdd",
          "example": "2026-07-01"
        }
      }
    },
    "UsOptionTradeTickResponse": {
      "type": "object",
      "description": "美股期权逐笔成交响应",
      "properties": {
        "price": {
          "type": "number",
          "format": "double",
          "description": "价格"
        },
        "time": {
          "type": "integer",
          "format": "int64",
          "description": "时间（Unix 时间戳，毫秒），表示绝对时刻，不带时区。前端按北京时间、本地时间或美东时间格式化时，显示日期可能不同；例如美股周日 20:00 ET 的夜盘点位按北京时间会显示为周一上午。"
        },
        "volume": {
          "type": "integer",
          "format": "int64",
          "description": "成交量"
        },
        "direction": {
          "type": "string",
          "description": "价格方向：Up、Down 或 Neutral"
        },
        "tradeType": {
          "type": "string",
          "description": "成交类型；Regular 表示普通成交，其他值为市场成交条件代码"
        },
        "tradeSession": {
          "type": "string",
          "description": "交易时段：Intraday、Pre、Post 或 Overnight"
        }
      }
    },
    "UsOptionExpirationRequest": {
      "type": "object",
      "description": "美股期权到期日请求",
      "required": [
        "symbol"
      ],
      "properties": {
        "symbol": {
          "type": "string",
          "description": "标的美股代码，例如 AAPL",
          "example": "AAPL"
        }
      }
    },
    "UsOptionExpirationResponse": {
      "type": "object",
      "description": "美股期权到期日响应",
      "properties": {
        "symbol": {
          "type": "string",
          "description": "股票代码"
        },
        "dates": {
          "type": "array",
          "description": "Expiration dates",
          "items": {
            "type": "string"
          }
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Expiration count"
        }
      }
    },
    "UsOptionDepthRequest": {
      "type": "object",
      "description": "美股期权深度行情请求",
      "required": [
        "expiry",
        "right",
        "strike",
        "symbol"
      ],
      "properties": {
        "symbol": {
          "type": "string",
          "description": "标的美股代码",
          "example": "AAPL"
        },
        "right": {
          "type": "string",
          "description": "期权方向：CALL 或 PUT",
          "example": "call"
        },
        "strike": {
          "type": "string",
          "description": "十进制行权价",
          "example": "200"
        },
        "expiry": {
          "type": "string",
          "description": "到期日，格式为 yyyy-MM-dd 或 yyyyMMdd",
          "example": "2026-07-17"
        }
      }
    },
    "UsOptionDepthLevelResponse": {
      "type": "object",
      "description": "美股期权盘口档位",
      "properties": {
        "position": {
          "type": "integer",
          "format": "int32",
          "description": "聚合盘口档位，从 1 开始"
        },
        "price": {
          "type": "number",
          "format": "double",
          "description": "价格"
        },
        "volume": {
          "type": "integer",
          "format": "int64",
          "description": "该档期权合约数量"
        },
        "orderCount": {
          "type": "integer",
          "format": "int64",
          "description": "该档订单笔数"
        }
      }
    },
    "UsOptionDepthResponse": {
      "type": "object",
      "description": "美股期权深度行情响应",
      "properties": {
        "symbol": {
          "type": "string",
          "description": "股票代码"
        },
        "identifier": {
          "type": "string",
          "description": "行情服务使用的期权合约代码"
        },
        "expiry": {
          "type": "string",
          "description": "Expiration date in yyyy-MM-dd format"
        },
        "strike": {
          "type": "string",
          "description": "Strike price"
        },
        "right": {
          "type": "string",
          "description": "CALL or PUT"
        },
        "timestamp": {
          "type": "integer",
          "format": "int64",
          "description": "服务端盘口快照时间，Unix 毫秒时间戳"
        },
        "bids": {
          "type": "array",
          "description": "Bid depth levels",
          "items": {
            "$ref": "#/components/schemas/UsOptionDepthLevelResponse"
          }
        },
        "asks": {
          "type": "array",
          "description": "Ask depth levels",
          "items": {
            "$ref": "#/components/schemas/UsOptionDepthLevelResponse"
          }
        }
      }
    },
    "UsOptionChainRequest": {
      "type": "object",
      "description": "美股期权链实时行情请求",
      "required": [
        "expiry",
        "symbol"
      ],
      "properties": {
        "symbol": {
          "type": "string",
          "description": "标的美股代码",
          "example": "AAPL"
        },
        "expiry": {
          "type": "string",
          "description": "到期日，格式为 yyyy-MM-dd 或 yyyyMMdd",
          "example": "2026-07-01"
        },
        "minImpliedVolatility": {
          "type": "number",
          "format": "double",
          "description": "可选的最小隐含波动率，本地过滤；不传或传 0 表示不限制"
        },
        "maxImpliedVolatility": {
          "type": "number",
          "format": "double",
          "description": "可选的最大隐含波动率，本地过滤；不传或传 0 表示不限制"
        },
        "minOpenInterest": {
          "type": "integer",
          "format": "int32",
          "description": "可选的最小未平仓量，本地过滤；不传或传 0 表示不限制"
        },
        "maxOpenInterest": {
          "type": "integer",
          "format": "int32",
          "description": "可选的最大未平仓量，本地过滤；不传或传 0 表示不限制"
        }
      }
    },
    "UsOptionChainRowResponse": {
      "type": "object",
      "description": "美股期权链单行响应",
      "properties": {
        "strike": {
          "type": "string",
          "description": "Strike price"
        },
        "standard": {
          "type": "boolean",
          "description": "Whether the option contracts are standard contracts"
        },
        "call": {
          "$ref": "#/components/schemas/UsOptionQuoteResponse",
          "description": "CALL quote"
        },
        "put": {
          "$ref": "#/components/schemas/UsOptionQuoteResponse",
          "description": "PUT quote"
        }
      }
    },
    "UsOptionQuoteResponse": {
      "type": "object",
      "description": "美股期权行情响应",
      "properties": {
        "identifier": {
          "type": "string",
          "description": "行情服务使用的期权合约代码"
        },
        "symbol": {
          "type": "string",
          "description": "标的美股代码"
        },
        "strike": {
          "type": "string",
          "description": "Strike price"
        },
        "right": {
          "type": "string",
          "description": "合约类型：CALL 或 PUT"
        },
        "expiry": {
          "type": "string",
          "description": "到期日，格式为 yyyy-MM-dd"
        },
        "latestPrice": {
          "type": "number",
          "format": "double",
          "description": "最新价"
        },
        "latestTime": {
          "type": "integer",
          "format": "int64",
          "description": "最新成交时间（Unix 时间戳，毫秒）"
        },
        "open": {
          "type": "number",
          "format": "double",
          "description": "开盘价"
        },
        "high": {
          "type": "number",
          "format": "double",
          "description": "最高价"
        },
        "low": {
          "type": "number",
          "format": "double",
          "description": "最低价"
        },
        "preClose": {
          "type": "number",
          "format": "double",
          "description": "该期权合约上一交易时段的收盘价"
        },
        "change": {
          "type": "number",
          "format": "double",
          "description": "该期权合约最新价相对前收价的涨跌额，即 latestPrice - preClose"
        },
        "volume": {
          "type": "integer",
          "format": "int64",
          "description": "成交量"
        },
        "turnover": {
          "type": "number",
          "format": "double",
          "description": "Turnover"
        },
        "openInterest": {
          "type": "integer",
          "format": "int64",
          "description": "未平仓量"
        },
        "multiplier": {
          "type": "number",
          "format": "double",
          "description": "Contract multiplier"
        },
        "contractSize": {
          "type": "number",
          "format": "double",
          "description": "Contract size"
        },
        "impliedVolatility": {
          "type": "number",
          "format": "double",
          "description": "Implied volatility"
        },
        "historicalVolatility": {
          "type": "number",
          "format": "double",
          "description": "Historical volatility"
        },
        "direction": {
          "type": "string",
          "description": "期权最新价相对前收价的方向：Up、Down 或 Neutral；缺少有效价格时为空"
        },
        "tradeStatus": {
          "type": "string",
          "description": "期权当前交易状态"
        }
      }
    },
    "UsOptionBriefRequest": {
      "type": "object",
      "description": "美股期权实时简况请求",
      "required": [
        "expiry",
        "right",
        "strike",
        "symbol"
      ],
      "properties": {
        "symbol": {
          "type": "string",
          "description": "标的美股代码",
          "example": "AAPL"
        },
        "right": {
          "type": "string",
          "description": "期权方向：CALL 或 PUT",
          "example": "call"
        },
        "strike": {
          "type": "string",
          "description": "十进制行权价",
          "example": "200"
        },
        "expiry": {
          "type": "string",
          "description": "到期日，格式为 yyyy-MM-dd 或 yyyyMMdd",
          "example": "2026-07-01"
        }
      }
    },
    "TradeTicksRequest": {
      "type": "object",
      "description": "获取交易明细（及时单量）的请求参数",
      "required": [
        "symbols"
      ],
      "properties": {
        "symbols": {
          "type": "array",
          "description": "股票代码列表，例如 [\"MU\", \"00700\", \"000001\"]；MU=美股，00700=港股，000001=A股",
          "example": [
            "MU",
            "00700",
            "000001"
          ],
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Contract": {
      "type": "object",
      "description": "合约信息",
      "properties": {
        "identifier": {
          "type": "string",
          "description": "标识符（同 symbol）"
        },
        "name": {
          "type": "string",
          "description": "名称"
        },
        "gatewayName": {
          "type": "string"
        },
        "symbol": {
          "type": "string",
          "description": "股票代码"
        },
        "secType": {
          "type": "string",
          "description": "证券类型"
        },
        "currency": {
          "type": "string"
        },
        "exchange": {
          "type": "string",
          "description": "交易所"
        },
        "market": {
          "type": "string",
          "description": "市场类型，例如 US、HK"
        },
        "expiry": {
          "type": "string"
        },
        "contractMonth": {
          "type": "string"
        },
        "strike": {
          "type": "number",
          "format": "double"
        },
        "multiplier": {
          "type": "number",
          "format": "double"
        },
        "right": {
          "type": "string"
        },
        "minTick": {
          "type": "number",
          "format": "double"
        },
        "lotSize": {
          "type": "integer",
          "format": "int32"
        },
        "createTime": {
          "type": "string",
          "format": "date-time"
        },
        "updateTime": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "option": {
          "type": "boolean"
        }
      }
    },
    "Tick": {
      "type": "object",
      "description": "Tick 逐笔数据",
      "properties": {
        "symbol": {
          "type": "string",
          "description": "股票代码",
          "example": "AAPL"
        },
        "name": {
          "type": "string",
          "description": "名称",
          "example": "Apple Inc."
        },
        "date": {
          "type": "string",
          "format": "date-time",
          "description": "日期"
        },
        "attribute": {
          "type": "object"
        },
        "contract": {
          "$ref": "#/components/schemas/Contract",
          "description": "合约信息"
        },
        "identifier": {
          "type": "string",
          "description": "标识符（同 symbol）",
          "example": "AAPL"
        },
        "type": {
          "type": "string",
          "description": "类型：TRADING=交易日, HALF_DAY=半日市, CLOSED=休市",
          "example": "STK"
        },
        "direction": {
          "type": "string",
          "description": "方向 BUY/SELL",
          "example": "Buy"
        },
        "volume": {
          "type": "integer",
          "format": "int64",
          "description": "成交量",
          "example": 12345678
        },
        "amount": {
          "type": "number",
          "format": "double",
          "description": "成交额。历史源未提供精确成交额但成交量大于0时，使用加权典型价×成交量估算",
          "example": "3150000.00"
        },
        "latestPrice": {
          "type": "number",
          "format": "double",
          "description": "最新价",
          "example": "255.35"
        },
        "latestVolume": {
          "type": "number",
          "format": "double",
          "description": "最新成交量",
          "example": 100
        },
        "latestTime": {
          "type": "integer",
          "format": "int64",
          "description": "最新成交时间（Unix 时间戳，毫秒）"
        },
        "time": {
          "type": "integer",
          "format": "int64",
          "description": "时间（Unix 时间戳，毫秒），表示绝对时刻，不带时区。前端按北京时间、本地时间或美东时间格式化时，显示日期可能不同；例如美股周日 20:00 ET 的夜盘点位按北京时间会显示为周一上午。",
          "example": 1743672000000
        },
        "openInterest": {
          "type": "integer",
          "format": "int32",
          "description": "未平仓量",
          "example": 0
        },
        "open": {
          "type": "number",
          "format": "double",
          "description": "开盘价",
          "example": "255.94"
        },
        "high": {
          "type": "number",
          "format": "double",
          "description": "最高价",
          "example": "256.15"
        },
        "low": {
          "type": "number",
          "format": "double",
          "description": "最低价",
          "example": "254.82"
        },
        "close": {
          "type": "number",
          "format": "double",
          "description": "收盘价",
          "example": "255.35"
        },
        "preClose": {
          "type": "number",
          "format": "double",
          "description": "常规交易时段上一交易日收盘价；用于外层 change/changeRate，不要与 hourTrading.prevClose 混用",
          "example": "254.50"
        },
        "bidPrice": {
          "type": "number",
          "format": "double",
          "description": "买盘价",
          "example": "255.30"
        },
        "bidSize": {
          "type": "integer",
          "format": "int32",
          "description": "买盘数量",
          "example": 200
        },
        "askPrice": {
          "type": "number",
          "format": "double",
          "description": "卖盘价",
          "example": "255.40"
        },
        "askSize": {
          "type": "integer",
          "format": "int32",
          "description": "卖盘数量",
          "example": 100
        },
        "midpoint": {
          "type": "number",
          "format": "double",
          "description": "中间价",
          "example": "255.35"
        },
        "brokerSource": {
          "type": "string",
          "description": "数据来源券商：L / T / A",
          "example": "T"
        },
        "createTime": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        }
      }
    },
    "TimeShareQuoteLatestRequest": {
      "type": "object",
      "description": "获取当前指定交易时段分时行情的请求参数",
      "required": [
        "symbols"
      ],
      "properties": {
        "symbols": {
          "type": "array",
          "description": "股票代码列表，例如 [\"MU\", \"00700\", \"000001\"]；MU=美股，00700=港股，000001=A股",
          "example": [
            "MU",
            "00700",
            "000001"
          ],
          "items": {
            "type": "string"
          }
        },
        "tradeSession": {
          "type": "string",
          "description": "交易时段。请求参数（K线/分时接口）取值：PreMarket（盘前）、Regular（盘中）、AfterHours（盘后）、OverNight（夜盘），默认 Regular，港股/A股仅支持 Regular；实时行情响应字段 tradeSession 取值：Pre、Intraday、Post、Overnight（港股/A股为 Intraday 或 AfterHours）。美股历史 OverNight 日期传归属交易日：某天收盘后的夜盘传下一个美股交易日，某天盘前凌晨的夜盘传当天交易日。",
          "enum": [
            "All",
            "PreMarket",
            "Regular",
            "AfterHours",
            "OverNight"
          ],
          "example": "All"
        }
      }
    },
    "TimelinePoint": {
      "type": "object",
      "properties": {
        "price": {
          "type": "number",
          "format": "double",
          "description": "价格"
        },
        "avgPrice": {
          "type": "number",
          "format": "double"
        },
        "time": {
          "type": "integer",
          "format": "int64",
          "description": "时间（Unix 时间戳，毫秒），表示绝对时刻，不带时区。前端按北京时间、本地时间或美东时间格式化时，显示日期可能不同；例如美股周日 20:00 ET 的夜盘点位按北京时间会显示为周一上午。"
        },
        "volume": {
          "type": "integer",
          "format": "int64",
          "description": "成交量"
        }
      }
    },
    "TimelineQuote": {
      "type": "object",
      "description": "分时行情",
      "properties": {
        "symbol": {
          "type": "string",
          "description": "股票代码",
          "example": "AAPL"
        },
        "period": {
          "type": "string",
          "description": "周期，如 day、5day",
          "example": "day"
        },
        "preClose": {
          "type": "number",
          "format": "double",
          "description": "常规交易时段上一交易日收盘价；用于外层 change/changeRate，不要与 hourTrading.prevClose 混用",
          "example": "254.50"
        },
        "intraday": {
          "$ref": "#/components/schemas/TimelineRange",
          "description": "盘中分时数据"
        },
        "preMarket": {
          "$ref": "#/components/schemas/TimelineRange",
          "description": "盘前交易分时数据（仅美股）"
        },
        "afterHours": {
          "$ref": "#/components/schemas/TimelineRange",
          "description": "盘后交易分时数据（仅美股）"
        },
        "overNight": {
          "$ref": "#/components/schemas/TimelineRange",
          "description": "夜盘交易分时数据（仅美股）"
        },
        "tradingDate": {
          "type": "string",
          "description": "交易所当地交易日，格式 yyyy-MM-dd。美股按 America/New_York，港股按 Asia/Hong_Kong，A 股按 Asia/Shanghai。不能传当前交易日；当前交易日请使用 /time-share-quotes。",
          "example": "2026-04-13"
        },
        "previousTradingDate": {
          "type": "string",
          "description": "前一个交易日（按交易所时区与交易日历计算）",
          "example": "2026-04-10"
        },
        "brokerSource": {
          "type": "string",
          "description": "数据来源券商：L / T / A",
          "example": "T"
        }
      }
    },
    "TimelineRange": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/TimelinePoint"
          }
        },
        "beginTime": {
          "type": "integer",
          "format": "int64",
          "description": "参考时间戳（Unix 毫秒）。/time-share-quotes 不再接收该参数；历史分时请使用 /time-share-quotes-history 的 tradingDate。"
        },
        "endTime": {
          "type": "integer",
          "format": "int64",
          "description": "历史范围结束时间戳（Unix 毫秒，不包含）。美股历史夜盘可直接传次日 04:00 ET 的毫秒戳；分时接口历史行情一律使用 min1 K 线重建，范围必须在 3 个自然日内。"
        }
      }
    },
    "RealTimeQuotesRequest": {
      "type": "object",
      "description": "获取实时行情的请求参数",
      "required": [
        "symbols"
      ],
      "properties": {
        "symbols": {
          "type": "array",
          "description": "股票代码列表，例如 [\"MU\", \"00700\", \"000001\"]；MU=美股，00700=港股，000001=A股",
          "example": [
            "MU",
            "00700",
            "000001"
          ],
          "items": {
            "type": "string"
          }
        }
      }
    },
    "HourTrading": {
      "type": "object",
      "description": "美股扩展交易时段数据",
      "properties": {
        "tag": {
          "type": "string",
          "description": "扩展交易时段标签：Pre=盘前 / Post=盘后 / Overnight=夜盘",
          "example": "Overnight"
        },
        "latestPrice": {
[...]
